/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#game1 {
  position: absolute;
  left: 50%;
  top: 50%;
}

#game2 {
  position: absolute;
  left: 150%;
  top: 100%;
}

#game3 {
  position: absolute;
  left: 20%;
  top: 150%;
}

#game4 {
  position: absolute;
  left: 200%;
  top: 300%;
}

.background > img {
    width: 300%;
}

#draggable {
  width: 200%;
  cursor: move;
  position: absolute;
  top: 100px;
  left: 100px;
}